@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;1,200;1,300;1,400&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#carousel{
  max-height: 500px;
}
.carouselImg{
  object-fit: contain !important;
}

/* mongoimport --uri mongodb+srv://jhaashu09868:HUQbe1BQri0fhYCW@cluster0.6syhtb2.mongodb.net/gofood --collection food_items --type jsonArray --file "D:\VSCode Dev\FoodDelivery Project\foodData2.json" */